<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 id="logo-main">Palmarinha Holidays</h3>
				<ul id="footer-nav">
<a href='contact'><li>Contact Information</li></a>
					<a href='#'><li>About Palmarinha Group</li></a>
					<a href='#'><li>Location Info</li></a>
					<a href='#'><li>Member Login</li></a>
					<a href='#'><li>Privacy Policy</li></a>
				</ul>
			</div>
		</div>
	</div>
</div>