<div class="container-fluid">
	<div class="row section" id="footer">
		<div class="col-md-3 address-block">
			<a class="footer-logo">OIB</a>
		</div>
		<div class="col-md-3 text-right promo-block pull-right">
			<p><span>Designed by <a href="http://hashcooki.es/">Hash Cookies</a></p>
		</div>
	</div>
</div>