<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 id="logo-footer">Palmarinha Holidays</h3>
				<ul id="footer-nav">
					<li><a href='/contact'>Contact Information</a></li>
					<li><a href='#'>Location Info</a></li>
					<li><a href='#'>Member Login</a></li>
					<li><a href='#'>Privacy Policy</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>