<div class="home-controls">
	<h3 id="dream-holiday">Your Dream Holiday Awaits You</h3>
	<a href="#" class="btn btn-primary btn-white">Learn More</a>
	<a href="#" class="btn btn-primary btn-white">Member Login</a>
</div>