<div id="home-controls" class="cover-controls">
	<h3 id="dream-holiday">Your Dream Holiday Awaits You</h3>
	<a href="#introducing-intro" class="btn btn-primary btn-white" id='more-info-btn'><span class="btn-text">Learn More</span> <span class="glyphicon glyphicon-chevron-down"></span></a>
	<a href="/membership" class="btn btn-primary btn-white" id='login-btn'><span class="btn-text">Member Login</span> <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>