<div class="col-md-12 inquiry-form-wrap">

	<div class="col-md-8 text-center col-md-offset-2">
		<h4 class="title">Ready for delivery two weeks</h4>	
		<p class="lead">Our furniture is made to order, can be customised to your preferences, and delivered across India within two weeks of placing an order.</p> 
		<p>Send us an inquiry and we'll get back to sort out the details.</p>
	</div>
	
	<div class="clearfix"></div>
	
	<div class="col-md-6 col-md-offset-3 inquiry-form-content">
		<form method="post" action="/send-inquiry" class="form-horizontal" role="form">
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Your Name</label>
				<div class="col-sm-8">
					<input type="text" name="inquiry[name]" value="" class="form-control"  />
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-4 control-label">Your Email</label>
				<div class="col-sm-8">
					<input type="" name="inquiry[email]" value="" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-4 control-label">Your Phone</label>
				<div class="col-sm-8">
					<input type="" name="inquiry[phone]" value="" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-4 control-label">books you're interested in</label>
				<div class="col-sm-8">
					<textarea type="" name="inquiry[books]" class="form-control" id="books-cart"><%= @book.title %></textarea>
				</div>
				<div class="col-sm-8 col-sm-offset-4 previously-viewed"><span class="label">Previously viewed</span>
				<ul>
					<% @session.each_value do |book| %>
						<% unless (book == @book.title) %>
						 <li><span class="glyphicon glyphicon-plus"></span> <%= book %></li>
						<% end %>
					<% end %>
				</ul>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-8 col-sm-offset-4">
					<input type="submit" name="submit" value="Send Inquiry" class="btn btn-large btn-primary" />
				</div>
			</div>
		</form>
	</div>
</div>