<div class="row" id="locations-block">
	<div class="col-md-4 col-md-offset-1">
		<h3>Locations. <small>Across the globe.</small></h3>
	</div>
	<div class="col-md-2 pull-right">
		<img src="/images/partnership.png" alt="" />
	</div>
	<div id="loc-img" class="col-md-12 text-center">
		
	</div>
	<div id="loc-intro" class="col-md-5 pull-right">
		<p>Palmarinha Holidays brings you a selection of over 5000 affiliated hotels and resorts in nearly 100 countries worldwide.</p>
		<p>As part of the two most sought after Holiday Exchange companies in the world ­ DAE and RCI. The advantage of being a Palmarinha Holidays member is the option to exchange your holiday entitlements to other exotic resorts in a wide choice of destinations.</p>
	</div>
	<div class="col-md-12">
		<div class="col-md-6 col-md-offset-3">
			<h3 class="lead">Places to <strong>visit</strong>. Things to <strong>see</strong>.</h3>
			<p class="desc">Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.</p>
		</div>
		<div id="visit" class="col-md-12">
			<div id="visit-1" class="col-md-3">
				<img src="/images/himalayas.png" alt="" />
				<button type="button" class="btn btn-primary">The Great Himalayas</button></div>
			<div id="visit-2" class="col-md-3">
				<img src="/images/party-goa.png" alt="" />
				<button type="button" class="btn btn-primary">Party Goa</button></div>
			<div id="visit-3" class="col-md-3">
				<img src="/images/rajasthan.png" alt="" />
				<button type="button" class="btn btn-primary">Sands of Rajasthan</button></div>
			<div id="visit-4" class="col-md-3">
				<img src="/images/paris.png" alt="" />
				<button type="button" class="btn btn-primary">Romantic Paris</button>
			</div>
		</div>
	</div>
</div>