<div class="col-md-6 col-md-offset-3">
	<div class="col-md-12"><input type="text" ></input><button type="button" class="btn btn-primary">Member Login</button><p><a href="#" >Having trouble logging in?</a></p></div>
	<div class="col-md-4"><button type="button" class="btn btn-primary">Learn More</button></div>
</div>
