<div id="member-controls">
	<div class="login-form">
		<input type="text" placeholder="Enter your password" />
		<button type="button" class="btn btn-primary btn-blue">Log in</button>
		<div class="clearfix"></div>
		<a id="trouble-logging" href="#">Having trouble logging in?</a>
	</div>
</div>