<div id="member-controls" class="cover-controls">
	<div class="login-form">
		<input type="text" placeholder="Enter your password" />
		<button type="button" class="btn btn-primary btn-blue">Log in</button><br />
		<a id="trouble-logging" href="#">Having trouble logging in?</a>
	</div>
</div>

<a id="learn-more-btn" href="#" class="btn btn-primary btn-white"><span class="btn-text">Learn More</span> <span class="glyphicon glyphicon-chevron-down"></span></a>
