<div class="modal fade book-modal" tabindex="-1" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h4 class="modal-title title">Book Vacation</h4>
      </div>
      <div class="modal-footer">
        <form id="book" action="/book" method="post" class="book-modal-form">
          <input type="hidden" id="hotel_id" name="book[hotel_id]" value="" />
          <div class="form-group">
            <label for="name" class="hidden">Your Name</label>
            <input type="text" name="book[name]" placeholder="Your name" value="" class="form-control" />
          </div>
          <div id="eaddgrp" class="form-group">
            <label for="eadd" class="hidden">Your Email</label>
            <input type="text" name="book[eadd]" placeholder="Your email" value="" class="form-control" />
            <span id="emailInfo" class="text-justified"></span>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <div class="input-group date" id="checkinpicker">
                <label for="check_in" class="hidden">Check-In</label>
                <input type="text" name="book[check_in]" id="check_in" placeholder="Check-In" value="" class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group date" id="checkoutpicker">
                <label for="check_out" class="hidden">Check-Out</label>
                <input type="text" name="book[check_out]" id="check_out" placeholder="Check-Out" value="" class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="mailbody" class="hidden">Description</label>
            <textarea type="text" name="book[mailbody]" rows="4" placeholder="Message (optional)" value="" class="form-control"></textarea>
          </div>
          <input type="hidden" name="_method" value="book">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Cancel</button>
          <input type="submit" name="submit" value="Book vacation" class="btn btn-primary btn-default">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->