<div class="modal fade delete-modal" tabindex="-1" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h4 class="modal-title title">Are you sure you want to delete <span class="name"></span>?</h4>
      </div>
      
      <div class="modal-footer">
        <form action="/destroy/" method="post" class="delete-modal-form">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        	<input type="hidden" name="_method" value="delete">
          	<input type="submit" value="Yes, Delete!" class="btn btn-primary">
        </form>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->