<form role="form" action="/affiliates" method="post" id="affiliate" enctype="multipart/form-data">			
	<div class="row form-group">
		<div class="col-md-12">
			<label for="offer_img">Affiliate Document</label>
			<div class="file-input-wrap">
				<input type="file" id="offer-img" name="affiliate[document]" class="file-picker file-inputs new-feature-file" data-filename-placement="inside" title="Affiliate Document" />
			</div>
		</div>
		<div class="col-md-3">
			<button id="submit" type="Submit" class="btn btn-primary btn-small submit-btn">Update Affiliate Document</button>
		</div>
	</div>
</form>