<div class="row resorts-block">
	<div class="col-md-12">
		<span class="title">Our family of resorts</span>
		<span class="subtitle">+5000 more from our partners</span>
	</div>
	<div id="resort-content">
		<div class="col-md-8 intro-block">
		<div id="resorts-intro" class="col-md-6 col-md-offset-1">
			<div class="col-md-12 col-md-offset-1">
			<img src="/images/resorts-logo.png" alt="" /></div>
			<p></p>
			<p>"Palmarinha Resort" meaning a little picturesque world of "Swaying Palms", an oasis seamlessly extending the magic of lush green fields and the hillocks beyond...</p>
		</div>

	</div>
		<div id="special-offers" class="col-md-4">
			<p class="title">Special Offers</p>
		</div>
	</div>
</div>