<div class="row">
	<div class="col-md-12">
		<h3>Our family of resorts <span>+5000 more from our partners</span></h3>
		
	</div>
	<div>
		<div class="col-md-8">
			<img src="/images/resorts.png" alt="" />
			<div class="col-md-6">
				<div class="col-md-12 col-md-offset-1">
				<img src="/images/resorts-logo.png" alt="" /></div>
				<p></p>
				<p>"Palmarinha Resort" meaning a little picturesque world of "Swaying Palms", an oasis seamlessly extending the magic of lush green fields and the hillocks beyond...</p>
			</div>
	</div>
		<div class="col-md-4">
			<h3>Special Offers</h3>
		</div>
	</div>
</div>