<div class="row">
	<div class="col-md-8"><img src="/images/how-it-works.png" alt="" /></div>
	<div class="col-md-4" id="how-it-works">
		<h3>How it works</h3>
		<p>Palmarinha Holidays brings you a selection of exclusive hotels and resorts, vacation packages and destinations, and themes <em>that suit your holiday needs.</em></p>
		<p>Palmarinha offers different membership plans, allowing you to choose the the best options that suit your holiday vacation needs. Great value for money and more privileges like discounts on F&amp;B, Spa, and more!</p>
			<a href="#" class="btn btn-link">Become a Member &raquo;</a>
			<a href="#" class="btn btn-link">Member Login &raquo;</a>
		</div>
	</div>
</div>