<div class="col-md-12">
	<div class="col-md-12 coll-title">
		<h4 class="title"><%= @category.name %></h4>
	</div>
	<div class="col-md-12 coll-details">
		<p><%= @category.description %></p>
	</div>
	
	<div class="row section featured-books">
		<div class="leader col-md-12">
			<span class="leader-title"><span class="glyphicon glyphicon-th"></span>More of this Category</span>
		</div>
		<% @category_books.each do |book| %>
		<%= erb :'partials/_book', :layout => false, :locals => { :book => book } %>
		<% end %>
	</div>
</div>