<div class="container">
	<%= erb :navigation %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<img src="/images/faq-bg.jpg" alt="" />
		</div>
		<div class="col-md-8">
			<h1>Member and Customer Service FAQs</h1>
			<ul id="faqs">
				<li class="active">
					<h4>What information should I keep handy while making my holiday booking?	</h4>
					<p>You need to have the following details when you are making your holiday booking request.
						•	Membership/Contract Number<br />
						•	Number of adults and children (with their ages) going on vacation<br />
						•	Name of the resort and destination<br />
						•	Check in and check out dates.</p>
				</li>
				<li>
					<h4>When does my Palmarinha Holidays Membership get active?</h4>	
					<p>Your Palmarinha Holidays Membership gets active after you complete 50% of the payment due towards your membership.</p>
				</li>
				<li>
					<h4>How do I pay for my Palmarinha Membership?</h4>
					<p>You can pay for your Palmarinha Membership through any of the below payment plans.<br />
						•	One-time payment plan.<br />
						•	Easy payment plan: you may pay through easy instalments of 6/ 12 OR 24 EMI, under instalment plan, your EMI is set free of interest for the entire tenure of the EMI. Further, there is no pre-payment penalty if you decide to pre-pay the outstanding amount.
					</p>
				</li>
				<li>
					<h4>What mode of payments /payment options do I have while making payments towards my Membership?</h4>
					<p>	•	You can pay via Net banking.(NEFT)<br />
						•	Deposit Cash into the Company Account at either HDFC OR Bank of India Branch nearest to your hometown.<br />
						•	Deposit a Cheque into the Company Account at either HDFC or Bank of India Branch nearest to your hometown.<br />
						•	Send across Post Dated Cheques to our Office in Goa.
					</p>
				</li>
				<li>
					<h4>What happens if I have confirmed my holiday and then for some reason decide to cancel?</h4>
					<p>When holidaying at your home resort i.e. Palmariha Holidays or at an internal affiliated property the request for cancelation should reach your Customer Services Office not less than 21 days prior to the Check in day.<br />
					For a holiday booking confirmed via the International Exchange network,  the cancelation policy is based on the rules of that particular Resort where the member has availed the booking.
					</p>
				</li>
				<li>
					<h4>When checking in at the resort what documents do I need to furnish or am I required to carry my Palmarinha Holidays Membership agreement?</h4>
					<p>At the point of check in you need to furnish a copy of the Confirmation letter and a valid photo ID as per the guidelines of the Government of India. You are not required to carry your Palmarinha Holidays Membership Agreement.
					</p>
				</li>
				<li>
					<h4>Where can I use my Palmarinha Holidays Membership?/h4>
					<p>You can use your Palmarinha Holidays Membership at the  Company owned resorts in Goa and at over 5000 affiliated  hotels and resorts in around 100 countries worldwide.
					</p>
				</li>
				<li>
					<h4>What happens to my holiday week if I am unable to use it .Do I lose my Week?</h4>
					<p>If for any reason you are unable to use your Week in any given year, you can save/roll over your Week to the following year. The Week which has been rolled over has to be used before 31st December of the 3rd year.e.g. Holiday Week of the year 2014 once rolled over has to be used before 31st December, 2016.
					</p>
				</li>
				<li>
					<h4>How do I book my holidays or who do I contact?</h4>
					<p>To book your holiday send an email at customerservices@palmarinha-holidays.com with details as follows:
						•	Membership/Contract Number<br />
						•	Number of adults and children (with their ages) going on vacation<br />
						•	Name of the resort and destination<br />
						•	Check in and check out dates.
					</p>
				</li>
				<li>
					<h4>What happens if I have used my Holiday Week and want to take more holidays in the same year?</h4>
					<p>You can either contact your Palmarinha Holidays Customer Services or the International Exchange Company and request for a Bonus Week. Subject to availability you will be quoted the price for the Bonus Week.(Every Resort /Developer is not booked up 100% at all times. Hence the space which is not booked up is sold out to Members at a discounted rate.)
					</p>
				</li>
				<li>
					<h4>Do I have the flexibility of using my Week at multiple destinations?</h4>
					<p>You can split your Week into 3nights 4days and 4nights 5 days to be used at two different destinations or for 2 different dates.
					</p>
				</li>
				<li>
					<h4>How does Palmarinha Holidays as a Vacation Club differ from Conventional Vacation Club?</h4>
					<p>In a Conventional Vacation Club model a member buys and accordingly uses the Week(s) into a fixed resort, week, season and apartment type.</br>
						At Palmarinha Holidays every member enjoys the flexibility of using the Week(s) at either the home resorts (i.e. owned by the Company), internal affiliations or through an exchange with the International Exchange Company with respect to the resort, week, season and apartment type as per the flexibility rules & regulations afforded to the Member by Palmarinha Holidays and which will be in relation to the membership plan.
					</p>
				</li>
				<li>
					<h4>For attending the Palmarinah Holidays Presentation we were awarded a Free Holiday Voucher against the Scratch Card.Can this holiday Voucher be gifted to my friends/guests?</h4>
					<p>Yes, to book a holiday against this Voucher for your friends, you will have to send an email to your Palmarinha Holidays Customer Services and provide complete details as under:
						•	Names of your friends/guest going on Vacation.<br />
						•	Membership/Contract Number<br />
						•	Number of adults and children (with their ages) going on vacation<br />
						•	Name of the resort and destination<br />
						•	Check in and check out dates.
					</p>
				</li>
				<li>
					<h4>Can my friends/guest send a holiday booking request on my behalf?</h4>
					<p>To avoid misuse of your membership and again as a matter of procedure Holiday booking request will be processed only if received from the Members and again from the registered Email IDs.</br>
						Members can process holidays for their friends/guest.
					</p>
				</li>
				<li>
					<h4>How can I rent my holiday?</h4>
					<p>With regards to renting your holidays, please be informed that neither the Company nor the Executives are authorized to engage in renting holidays on behalf of Members .However Members can arrange to rent out their holidays either through their own sources or contact rental agents online.</br>
						Palmarinha Holidays is in no way associated with these agents and again is not responsible for any of their activities. 
					</p>
				</li>
			</ul>	
		</div>
	
</div>