<div class="container">
	<%= erb :navigation %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<img src="/images/faq-bg.jpg" alt="" />
		</div>
		<div class="col-md-8">
			<h1>Member and Customer Service FAQs</h1>
			<ul id="faqs">
				<li class="active">
					<h4>What information should I keep handy while making my holiday booking?	</h4>
					<p>You need to have the following details when you are making your holiday booking request.
						•	Membership/Contract Number<br />
						•	Number of adults and children (with their ages) going on vacation<br />
						•	Name of the resort and destination<br />
						•	Check in and check out dates.</p>
				</li>
				<li>
					<h4>When does my Palmarinha Holidays Membership get active?</h4>	
					<p>Your Palmarinha Holidays Membership gets active after you complete 50% of the payment due towards your membership.</p>
				</li>
				<li>
					<h4>How do I pay for my Palmarinha Membership?</h4>
					<p>You can pay for your Palmarinha Membership through any of the below payment plans.<br />
						•	One-time payment plan.<br />
						•	Easy payment plan: you may pay through easy instalments of 6/ 12 OR 24 EMI, under instalment plan, your EMI is set free of interest for the entire tenure of the EMI. Further, there is no pre-payment penalty if you decide to pre-pay the outstanding amount.
					</p>
				</li>
				<li>
					<h4>How do I pay for my Palmarinha Membership?</h4>
					<p>You can pay for your Palmarinha Membership through any of the below payment plans.<br />
						•	One-time payment plan.<br />
						•	Easy payment plan: you may pay through easy instalments of 6/ 12 OR 24 EMI, under instalment plan, your EMI is set free of interest for the entire tenure of the EMI. Further, there is no pre-payment penalty if you decide to pre-pay the outstanding amount.
					</p>
				</li>
				<li>
					<h4>How do I pay for my Palmarinha Membership?</h4>
					<p>You can pay for your Palmarinha Membership through any of the below payment plans.<br />
						•	One-time payment plan.<br />
						•	Easy payment plan: you may pay through easy instalments of 6/ 12 OR 24 EMI, under instalment plan, your EMI is set free of interest for the entire tenure of the EMI. Further, there is no pre-payment penalty if you decide to pre-pay the outstanding amount.
					</p>
				</li>
				<li>
					<h4>How do I pay for my Palmarinha Membership?</h4>
					<p>You can pay for your Palmarinha Membership through any of the below payment plans.<br />
						•	One-time payment plan.<br />
						•	Easy payment plan: you may pay through easy instalments of 6/ 12 OR 24 EMI, under instalment plan, your EMI is set free of interest for the entire tenure of the EMI. Further, there is no pre-payment penalty if you decide to pre-pay the outstanding amount.
					</p>
				</li>
			</ul>	
		</div>
	
</div>