<div id="page-bg" class="cover anystretch" data-stretch="/images/<%= @bg_img %>.png">
	<%= erb :navigation %>
	<%= erb @controls %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 text-center col-md-offset-2" id="introducing-intro">
			<p class="lead">Do you want to discover the world, experience a true adventure and return home with tales of iconic sights and treasured moments? Where do you want to go and what have you always wanted to do? We’re here to listen to your ideas and create your <span class="uppercase bold">tailor made holiday.</span></p>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12" id="introducing-palmarinha">
			<img src="images/introducing-palmarinha.jpg" alt="" />
			<h2>Palmarinha Holidays</h2>
			<div class="row" id="introducing-palmarinha-text">
				<div class="col-md-7">
					<p>Let us be your trusted planning partner, trying in destinations, hotel experiences across the planet. We can take you on a journey of spectacular destinations including India, Latin America, the Far East. Join us in creating your perfect travel experience together, from climbing Mount Kilimanjaro or exploring Machu Picchu- the Lost City of the Incas- to watching the sunrise over the Taj Mahal.</p> 
					<p>We at Palmarinha Holidays are equiped to offer you a complete range of extraordinary experiences</p>
				</div>
				<div class="col-md-5" id="introducing-bullets">
					<h4>Vacations. <em>Limitless.</em></h4>
					<ul>
						<li>Tailor made memberships to suit all age groups and lifestyle needs.</li>
						<li>Vacation at any Palmarinha strategic alliance properties s well at over 5000 destinations across the world.</li>
						<li>Our flagship resort located right in the heart of India’s No 1 tourist destination.</li>
						<li>M20 specials- a carefully selected lists of 20 destinations exclusively brought to you by Palmarinha holidays member services ever month.</li>
						<li>Special member rates on other facilities. To help you save more all EMIs are set at no interest.</li>	
						<li>&amp; more…</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="how-it-works">
		<div class="col-md-8">
			<img src="/images/how-it-works.png" alt="" />
			<h3><small>Plans tailored to</small>Your Holiday Needs</h3>
		</div>
		<div class="col-md-4 right">
			<h4>Member benefits</h4>
			<ul>
				<li>Flexibility to holiday from 3 nights to 7 nights</li>
				<li>Own your membership in India’s number 1 tourist destination.</li>
				<li>Superior standards of accommodation.</li>
				<li>Full service hotel facilities.</li>
				<li>Flexibility of staying at multiple resorts within the club.</li>
				<li>Customisable holidaying options.</li>
				<li>Competitive membership pricing.</li>
			</ul>
		</div>
		<div class="col-md-4 btn-link-block pull-right">
			<a href="#" class="btn btn-link">Become a Member &raquo;</a>
			<a href="#" class="btn btn-link">Member Login &raquo;</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" id="locations-block">
		<div class="col-md-6">
			<h3>Travel. <small>Across the globe.</small></h3>
		</div>
		<!-- <div class="col-md-6" id="partnerships-block">
			<img src="/images/partnership.png" alt="" class="pull-right auto-width" />
		</div> -->
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<img src="/images/locations.png" alt="" />
		</div>
		<div id="loc-intro" class="col-md-7 col-md-offset-1">
			<p class="lead">Palmarinha Holidays brings you a selection of over 5000 affiliated hotels and resorts in nearly 100 countries worldwide.</p>
			<p>Our alliances and partnerships all around the world makes us capable of providing our members with an array of holidays to pick from.</p>
		</div>
	</div>
	<div class="row text-center info-blocks" id="loc-perks">
		<div class="col-md-4">
			<img src="/images/perk-3.jpg" alt="" />
			<h5>Unlimited Holidays</h5>
			<p>for 25 years by using your own week and bonus weeks.</p>
		</div>
		<div class="col-md-4">
			<img src="/images/perk-2.jpg" alt="" />
			<h5>Expert Team</h5>
			<p>to help you organize every aspect of your holiday type and pattern.</p>
		</div>
		<div class="col-md-4">
			<img src="/images/perk-1.jpg" alt="" />
			<h5>Exchange Holiday Time</h5>
			<p>to use your week to exchange holiday time across any of the 5000 resorts worldwide</p>
		</div>
	</div>
	<hr />
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6" id="loc-sec-2">
			<h3>Places to <b>visit</b>. Things to <b>see</b>.</h3>
			<p class="desc">Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.</p>
		</div>
		<div class="col-md-3 pull-right text-right" id="loc-cta">
			<a href="#" class="btn btn-primary">View Membership Options</a>
			<a href="#" class="btn">Or Log In to view offers</a>
		</div>
	</div>
	<div class="row">
		<ul id="loc-blocks" class="col-md-12">
				<li>
					<img src="/images/himalayas.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/party-goa.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/rajasthan.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/paris.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/himalayas.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/party-goa.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/rajasthan.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/paris.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
		</ul>
	</div>
</div>



<div id="resort-img">
	<div class="container">
		<div class="row">
			<div class="resort-intro col-md-6">
				<span class="label">Includes</span>
				<h3>Our family of resorts</h3>
				<span class="subtitle">+5000 more from our partners</span>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 resorts-desc">
			<p>Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend.</p>
		</div>
	</div>
</div>

<div class="container" id="hotel-blocks text-center">
	<div class="row info-blocks text-center">
		<div class="col-md-4 hotel-block">
			<img src="/images/palmarinha-resort.jpg" alt="" />
			<h5>Palmarinha Resort</h5>
			<p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend.</p>
		</div>
		<div class="col-md-4 hotel-block">
			<img src="/images/resorts.jpg" alt="" />
			<h5>Bougainvillea Guest House</h5>
			<p>Vivamus hendrerit arcu sed erat. Sed auctor neque eu tellus rhoncus ut eleifend.</p>
		</div>
		<div class="col-md-4 hotel-block">
			<img src="/images/casa-shanti-niketan.jpg" alt="" />
			<h5>Casa Shanti Niketan</h5>
			<p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu.</p>
		</div>
	</div>
	<hr />
	<div class="row call-to-action" id="final-cta">
		<div class="col-md-12 text-center">
			<a href="#" class="btn btn-primary btn-large">Become a Member Today!</a>
			<a href="#" class="btn">Or <strong>Log In</strong> to plan your next trip</a>
		</div>
	</div>
</div>

<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 id="logo-main">Palmarinha Holidays</h3>
				<ul>
					<li>Contact Information</li>
					<li>About Palmarinha Group</li>
					<li>Location Info</li>
					<li>Member Login</li>
					<li>Privacy Policy</li>
				</ul>
			</div>
		</div>
	</div>
</div>