<div class="container">
	<div class="row">
		<div class="col-md-8 text-center col-md-offset-2" id="introducing-intro">
			<p class="lead"><span class="uppercase bold">Travel is important</span> because it fundamentally transforms us. This experience of waking up to the power of your own transformation fires you up to. The Faria group, after 25 years in perfecting and delivering the happiest holidays, introduces its most prestigious family vacation scheme…</p>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12" id="introducing-palmarinha">
			<img src="images/introducing-palmarinha.jpg" alt="" />
			<h2>Palmarinha Holidays</h2>
			<div class="row" id="introducing-palmarinha-text">
				<div class="col-md-7">
					<p>By taking a break from your daily life, unplugging from the pulls &amp; pushes of technology &amp; engaging in new activities in new places, you have an easier opportunity to release unwanted habits. Also it is empowering to surround yourself with people who dont know the encyclopedia of your past. It reinforces your willingness to broaden your horizons, to get unstuck &amp; to move in new directions.</p>
				</div>
				<div class="col-md-5" id="introducing-bullets">
					<h4>Vacations. <em>Limitless.</em></h4>
					<ul>
						<li>Over 5000 Resorts worldwide</li>
						<li>Membership in India’s prime tourist desination</li>
						<li>Flexibility of staying at multiple resorts within the club</li>
						<li>Flexibility to holiday for any number of nights.</li>
						<li>&amp; more…</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="how-it-works">
		<div class="col-md-8">
			<img src="/images/how-it-works.png" alt="" />
			<h3><small>Plans Include</small>Your Holiday Needs</h3>
		</div>
		<div class="col-md-4 right">
			<h4>How it works</h4>
			<p>Palmarinha Holidays brings you a selection of exclusive hotels and resorts, vacation packages and destinations, and themes <em>that suit your holiday needs.</em></p>
			<p>Palmarinha offers different membership plans, allowing you to choose the the best options that suit your holiday vacation needs. Great value for money and more privileges like discounts on F&amp;B, Spa, and more!</p>
			<p>
				<a href="#" class="btn btn-link">Become a Member &raquo;</a>
				<a href="#" class="btn btn-link">Member Login &raquo;</a>
			</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" id="locations-block">
		<div class="col-md-6">
			<h3>Locations. <small>Across the globe.</small></h3>
		</div>
		<div class="col-md-6" id="partnerships-block">
			<img src="/images/partnership.png" alt="" class="pull-right" />
		</div>
	</div>
</div>

<div id="loc-img"></div>

<div class="container">
	<div class="row">
		<div id="loc-intro" class="col-md-7">
			<p>Palmarinha Holidays brings you a selection of over 5000 affiliated hotels and resorts in nearly 100 countries worldwide.</p>
			<p>As part of the two most sought after Holiday Exchange companies in the world ­ DAE and RCI. The advantage of being a Palmarinha Holidays member is the option to exchange your holiday entitlements to other exotic resorts in a wide choice of destinations.</p>
		</div>
	</div>
	<div class="row text-center" id="loc-perks">
		<div class="col-md-4">
			<img src="/images/perk-3.jpg" alt="" />
			<h5>Unlimited Holidays</h5>
			<p>for 25 years by using your own week and bonus weeks.</p>
		</div>
		<div class="col-md-4">
			<img src="/images/perk-2.jpg" alt="" />
			<h5>Expert Team</h5>
			<p>to help you organize every aspect of your holiday type and pattern.</p>
		</div>
		<div class="col-md-4">
			<img src="/images/perk-1.jpg" alt="" />
			<h5>Exchange Holiday Time</h5>
			<p>to use your week to exchange holiday time across any of the 5000 resorts worldwide</p>
		</div>
	</div>
	<hr />
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center" id="loc-sec-2">
			<h3>Places to <b>visit</b>. Things to <b>see</b>.</h3>
			<p class="desc">Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.</p>
		</div>
	</div>
	<div class="row">
		<ul id="loc-blocks" class="col-md-12">
				<li>
					<img src="/images/himalayas.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/party-goa.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/rajasthan.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/paris.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/himalayas.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/party-goa.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/rajasthan.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/paris.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
		</ul>
	</div>
</div>



<div id="resort-img">
	<h3>Our family of resorts <small>+5000 more from our partners</small></h3>
</div>

<div class="container" id="hotel-blocks">
	<div class="row">
		<div class="col-md-4 hotel-block">
			<img src="/images/resorts.png" alt="" />
			<!--<div class="inner">
				<div class="col-md-12 col-md-offset-1">
					<img src="/images/resorts-logo.png" alt="" />
				</div>
				<p>"Palmarinha Resort" meaning a little picturesque world of "Swaying Palms", an oasis seamlessly extending the magic of lush green fields and the hillocks beyond...</p>
				<p><a class="linkout" href="#"><span class="glyphicon glyphicon-new-window"></span> Website</a></p>
			</div>-->
		</div>
		<div class="col-md-4 hotel-block">
			<img src="/images/resorts.png" alt="" />
			<div class="inner">
				<h4>Bougainvillea Guest House</h4>
				<p><a class="linkout" href="#"><span class="glyphicon glyphicon-new-window"></span> Website</a></p>
			</div>
		</div>
		<div class="col-md-4 hotel-block">
			<img src="/images/resorts.png" alt="" />
			<div class="inner">
				<h4>Granpa's Inn</h4>
				<p><a class="linkout" href="#"><span class="glyphicon glyphicon-new-window"></span> Website</a></p>
			</div>
		</div>
	</div>
	<div class="row">		
		<div class="col-md-4">
			<h3>Our family of resorts <small>+5000 more from our partners</small></h3>
		</div>
		
		<div class="col-md-12">
			<h3>Special Offers</h3>
		</div>
	</div>
</div>