<div id="page-bg" class="cover anystretch" data-stretch="/images/<%= @bg_img %>.jpg">
	<%= erb :navigation %>
	<%= erb :_home_controls %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 text-center col-md-offset-2" id="introducing-intro">
			<p class="lead"><span class="uppercase bold whimsy">Travel is important</span> because it fundamentally transforms us. This experience of waking up to the power of your own transformation fires you up to. Palmarinha Holidays, is here to make a lifetime of holidays  through its most prestigious family vacation club.</p>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12" id="introducing-palmarinha">
			<img src="images/introducing-palmarinha.jpg" alt="" />
			<h2>Dream of a lifetime<span>Holiday</span></h2>
			<div class="row" id="introducing-palmarinha-text">
				<div class="col-md-7 hidden-xs">
					<p>Discover the world, experience adventure and return home with tales of iconic sights and treasured moments!!!</p> 
					<p>Take a break from daily life unpluge from the hassel &amp; bussel of your busy city life.</p>
					<p>Palmarinha Holidays is here to offer you the complete range of extra ordinary experience that will tantalize your travel bug, keeping you wanting more …</p>
				</div>
				<div class="col-md-5" id="introducing-bullets">
					<h4>Fascinating <em>Vacations.</em></h4>
					<ul>
						<li>Over 5000 Resorts worldwide</li>
						<li>Membership in India’s prime tourist destination</li>
						<li>Flexibility of staying at multiple resorts within the club</li>
						<li>Unique Destinations to holiday for any number of nights through our wide range of Alliance Partners and Affiliates.</li>
						<li>&amp; more…</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="how-it-works">
		<div class="col-md-8 hidden-xs">
			<img src="/images/how-it-works.jpg" alt="" />
			<h3><small>Tailor make</small>a unique holidays</h3>
		</div>
		<div class="col-md-4 right">
			<h4 id="howitworks-title">How it works</h4>
			<p>Palmarinha Holidays brings you a selection of exclusive hotels and resorts, vacation packages and destinations, and themes <em>that suit your holiday needs.</em></p>
			<p>Palmarinha offers different membership plans, allowing you to choose the the best options that suit your holiday vacation needs. Great value for money and more privileges like discounts on F&amp;B, Spa, and more!</p>
			<p class="text-center"><a href="#" class="btn btn-link" data-toggle="modal" data-target="#sign-up-modal">Become a Member &raquo;</a></p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" id="locations-block">
		<div class="col-md-12">
			<h3 id="travel-across">Travel. <small>Across the globe.</small></h3>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<img src="/images/locations.jpg" alt="" />
		</div>
		<div id="loc-intro" class="col-md-7 col-md-offset-1">
			<p class="lead">Palmarinha Holidays brings you a selection of over 5000 affiliated hotels and resorts in nearly 100 countries worldwide.</p>
			<p>Be a part of the most sought after holiday affiliates, giving you the option to explore the world by exchanging your holiday entitlement to other exotic resort spoiling you of choice.</p>
		</div>
	</div>
	<div class="row text-center info-blocks" id="loc-perks">
		<div class="col-md-4">
			<img src="/images/perk-3.jpg" alt="" />
			<h5>Limitless Holidays</h5>
			<p>25 years Leisure holidays at your convenience.</p>
		</div>
		<div class="col-md-4">
			<img src="/images/perk-2.jpg" alt="" />
			<h5>Our expert team</h5>
			<p>Helps you organise every aspect of your holidays from start to finish.</p>
		</div>
		<div class="col-md-4">
			<img src="/images/perk-1.jpg" alt="" />
			<h5>Holidays time</h5>
			<p>An experience to cherish that lingers in your memory forever.</p>
		</div>
	</div>
	<hr />
</div>
<div class="container testimonial-block">
	<div class="row">
		<div class="col-md-4">
			<img src="/images/testimonial2.png" alt="" />
		</div>
		<div class="col-md-4 text-center">
			<img src="/images/testimonial1.png" alt="" />
		</div>
		<div class="col-md-4 text-right">
			<img src="/images/testimonial3.png" alt="" />
		</div>
	</div>
</div>
<div class="container" id="locations">
	<hr />
	<div class="row">
		<div class="col-md-6" id="loc-sec-2">
			<h3>Places to <b>visit</b>. Things to <b>see</b>.</h3>
			<p class="desc">Travel is the only thing you buy that makes you richer.</p>
		</div>
		<div class="col-md-3 pull-right text-right" id="loc-cta">
			<a href="/membership" class="btn btn-primary">View Membership Options</a>
			<a href="#" class="btn">Or Log In to view offers</a>
		</div>
	</div>
	<div class="row">
		<ul id="loc-blocks" class="col-md-12">
				<li>
					<img src="/images/choiced.jpg" alt="" />
					<div class="loc-label">
						<span>Breath-taking Scenaries</span>
					</div>
				</li>
				<li>
					<img src="/images/beaches.jpg" alt="" />
					<div class="loc-label">
						<span>Beautiful Beaches</span>
					</div>
				</li>
				<li>
					<img src="/images/rajasthan.jpg" alt="" />
					<div class="loc-label">
						<span>Desert Safaris</span>
					</div>
				</li>
				<li>
					<img src="/images/cities.jpg" alt="" />
					<div class="loc-label">
						<span>Cities around the world</span>
					</div>
				</li>
				<li>
					<img src="/images/wonders.jpg" alt="" />
					<div class="loc-label">
						<span>Wonders of the World</span>
					</div>
				</li>
				<li>
					<img src="/images/wildlife.jpg" alt="" />
					<div class="loc-label">
						<span>Wildlife Tours</span>
					</div>
				</li>
				<li>
					<img src="/images/exotic.jpg" alt="" />
					<div class="loc-label">
						<span>Exotic Living</span>
					</div>
				</li>
				<li>
					<img src="/images/adventure.jpg" alt="" />
					<div class="loc-label">
						<span>Exhilarating Adventure</span>
					</div>
				</li>
		</ul>
	</div>
	<hr class="hidden-xs" />
</div>

<div class="container testimonial-block hidden-xs">
	<div class="row">
		<div class="col-md-4">
			<img src="/images/testimonial4.png" alt="" />
		</div>
		<div class="col-md-4 text-center">
			<img src="/images/testimonial5.png" alt="" />
		</div>
		<div class="col-md-4 text-right">
			<img src="/images/testimonial6.png" alt="" />
		</div>
	</div>
</div>


<div class="container" id="resorts">
	<hr />
	<div class="row">
		<div class="resort-intro col-md-8">
			<span class="label">Includes</span>
			<h3>Our family of resorts</h3>
			<p>Our home Resorts are located in India’s most sought after tourist destinations. A combination of elegance, top-notch quality service and a humble staff to make every moment memorable.</p>
		</div>
	</div>
</div>

<div class="container text-center" id="hotel-blocks" >
	<div class="row info-blocks text-center">
		<div class="col-md-4 hotel-block">
			<img src="/images/palmarinha-resort.jpg" alt="" />
			<h5>Palmarinha Resort</h5>
			<p>A 120 room property located in Calangute Goa.</p>
			<a href="http://palmarinharesort.com" class="website-link">Visit Website</a>
		</div>
		<div class="col-md-4 hotel-block">
			<img src="/images/bougainvillea-resort.jpg" alt="" />
			<h5>Bougainvillea Guest House</h5>
			<p>A 250 year Boutique hotel located in Anjuna Goa.</p>
			<a href="http://granpasinn.com" class="website-link">Visit Website</a>
		</div>
		<div class="col-md-4 hotel-block">
			<img src="/images/casa-shanti-niketan.jpg" alt="" />
			<h5>Casa Shanti Niketan</h5>
			<p>Located in Monte Estoril, Cascais walking distance from the beach.</p>
			<a href="http://casa-shantiniketan.com" class="website-link">Visit Website</a>
		</div>
	</div>
	<hr />
	<div class="row call-to-action" id="final-cta">
		<div class="col-md-12 text-center">
			<a href="#" class="btn btn-primary btn-large"  data-toggle="modal" data-target="#sign-up-modal">Become a Member Today!</a>
			<a href="/membership" class="btn">Or <strong>Log In</strong> to plan your next trip</a>
		</div>
	</div>
</div>

<%= erb :_sign_up_form %>