<div class="row">
	<div class="col-md-8" id="introducing-intro">
		<p><span class="uppercase bold">Travel is important</span> because it fundamentally transforms us. This experience of waking up to the power of your own transformation fires you up to. The Faria group, after 25 years in perfecting and delivering the happiest holidays, introduces its most prestigious family vacation scheme…</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-12" id="introducing-palmarinha">
		<img src="images/introducing-palmarinha.jpg" alt="" />
		<h2>Palmarinha Holidays</h1>
		<div class="row" id="introducing-palmarinha-text">
			<div class="col-md-7">
				<p>By taking a break from your daily life, unplugging from the pulls &amp; pushes of technology &amp; engaging in new activities in new places, you have an easier opportunity to release unwanted habits. Also it is empowering to surround yourself with people who dont know the encyclopedia of your past. It reinforces your willingness to broaden your horizons, to get unstuck &amp; to move in new directions.</p>
			</div>
			<div class="col-md-5" id="introducing-bullets">
				<h4>Vacations. <em>Limitless.</em></h4>
				<ul>
					<li>Over 5000 Resorts worldwide</li>
					<li>Membership in India’s prime tourist desination</li>
					<li>Flexibility of staying at multiple resorts within the club</li>
					<li>Flexibility to holiday for any number of nights.</li>
					<li>&amp; more…</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<%= erb :_working %>
<%= erb :_locations %>
<%= erb :_resorts %>