<div id="page-bg" class="cover anystretch" data-stretch="/images/<%= @bg_img %>.png">
	<%= erb :navigation %>
	<%= erb @controls %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 text-center col-md-offset-2" id="introducing-intro">
			<p class="lead"><span class="uppercase bold whimsy">Travel is important</span> because it fundamentally transforms us. This experience of waking up to the power of your own transformation fires you up to. Palmarinha Holidays, is here to make a lifetime of holidays  through its most prestigious family vacation club.</p>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12" id="introducing-palmarinha">
			<img src="images/introducing-palmarinha.jpg" alt="" />
			<h2>Dream of a lifetime Holiday</h2>
			<div class="row" id="introducing-palmarinha-text">
				<div class="col-md-7">
					<p>Discover the world, experience adventure and return home with tales of iconic sights and treasured moments!!!</p> 
					<p>Take a break from daily life unpluge from the hassel &amp; bussel of your busy city life.</p>
					<p>Palmarinha Holidays is here to offer you the complete range of extra ordinary experience that will tantalize your travel bug, keeping you wanting more …</p>
				</div>
				<div class="col-md-5" id="introducing-bullets">
					<h4>Fascinating <em>Vacations.</em></h4>
					<ul>
						<li>Over 5000 Resorts worldwide</li>
						<li>Membership in India’s prime tourist destination</li>
						<li>Flexibility of staying at multiple resorts within the club</li>
						<li>Unique Destinations to holiday for any number of nights through our wide range of Alliance Partners and Affiliates.</li>
						<li>&amp; more…</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="how-it-works">
		<div class="col-md-8">
			<img src="/images/how-it-works.png" alt="" />
			<h3><small>Tailor make</small>a unique holidays</h3>
		</div>
		<div class="col-md-4 right">
			<h4 id="howitworks-title">How it works</h4>
			<p>Palmarinha Holidays brings you a selection of exclusive hotels and resorts, vacation packages and destinations, and themes <em>that suit your holiday needs.</em></p>
			<p>Palmarinha offers different membership plans, allowing you to choose the the best options that suit your holiday vacation needs. Great value for money and more privileges like discounts on F&amp;B, Spa, and more!</p>
			<p><a href="#" class="btn btn-link">Become a Member &raquo;</a></p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" id="locations-block">
		<div class="col-md-6">
			<h3>Travel. <small>Across the globe.</small></h3>
		</div>
		<!-- <div class="col-md-6" id="partnerships-block">
			<img src="/images/partnership.png" alt="" class="pull-right auto-width" />
		</div> -->
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<img src="/images/locations.png" alt="" />
		</div>
		<div id="loc-intro" class="col-md-7 col-md-offset-1">
			<p class="lead">Palmarinha Holidays brings you a selection of over 5000 affiliated hotels and resorts in nearly 100 countries worldwide.</p>
			<p>Be a part of the most sought after holiday affiliates, giving you the option to explore the world by exchanging your holiday entitlement to other exotic resort spoiling you of choice.</p>
		</div>
	</div>
	<div class="row text-center info-blocks" id="loc-perks">
		<div class="col-md-4">
			<img src="/images/perk-3.jpg" alt="" />
			<h5>Limitless Holidays</h5>
			<p>25 years Leisure holidays at your convenience.</p>
		</div>
		<div class="col-md-4">
			<img src="/images/perk-2.jpg" alt="" />
			<h5>Our expert team</h5>
			<p>Helps you organise every aspect of your holidays from start to finish.</p>
		</div>
		<div class="col-md-4">
			<img src="/images/perk-1.jpg" alt="" />
			<h5>Holidays time</h5>
			<p>An experience to cherish that lingers in your memory forever.</p>
		</div>
	</div>
</div>
<div class="container testimonial-block">

	<div class="row">
		<div class="col-md-4 col-md-offset-1 text-center">
			<img src="/images/testimonial2.png" alt="" />
		</div>
		
		<div class="col-md-4 text-center">
			<img src="/images/testimonial1.png" alt="" />
		</div>
		<div class="col-md-2" id="testimonial-label-block">
			<p>&amp; many more <br />satisfied customers…</p>
		</div>
	</div>
</div>
<div class="container">
	<hr />
	<div class="row">
		<div class="col-md-6" id="loc-sec-2">
			<h3>Places to <b>visit</b>. Things to <b>see</b>.</h3>
			<p class="desc">Travel is the only thing you buy that makes you richer.</p>
		</div>
		<div class="col-md-3 pull-right text-right" id="loc-cta">
			<a href="#" class="btn btn-primary">View Membership Options</a>
			<a href="#" class="btn">Or Log In to view offers</a>
		</div>
	</div>
	<div class="row">
		<ul id="loc-blocks" class="col-md-12">
				<li>
					<img src="/images/himalayas.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/party-goa.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/rajasthan.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/paris.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/himalayas.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/party-goa.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/rajasthan.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
				<li>
					<img src="/images/paris.png" alt="" />
					<div class="loc-label">
						<span>The Great Himalayas</span>
					</div>
				</li>
		</ul>
	</div>
</div>



<div id="resort-img">
	<div class="container">
		<div class="row">
			<div class="resort-intro col-md-6">
				<span class="label">Includes</span>
				<h3>Our family of resorts</h3>
				<span class="subtitle">+5000 more from our partners</span>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 resorts-desc">
			<p>Our home Resorts are located in India’s most sought after tourist destinations. A combination of elegance, top-notch quality service and a humble staff to make every moment memorable.</p>
		</div>
	</div>
</div>

<div class="container" id="hotel-blocks text-center">
	<div class="row info-blocks text-center">
		<div class="col-md-4 hotel-block">
			<img src="/images/palmarinha-resort.jpg" alt="" />
			<h5>Palmarinha Resort</h5>
			<p>A 120 room property located in Calangute Goa.</p>
		</div>
		<div class="col-md-4 hotel-block">
			<img src="/images/resorts.jpg" alt="" />
			<h5>Bougainvillea Guest House</h5>
			<p>A 250 year Boutique hotel located in Anjuna Goa.</p>
		</div>
		<div class="col-md-4 hotel-block">
			<img src="/images/casa-shanti-niketan.jpg" alt="" />
			<h5>Casa Shanti Niketan</h5>
			<p>Located in Monte Estoril, Cascais walking distance from the beach.</p>
		</div>
	</div>
	<hr />
	<div class="row call-to-action" id="final-cta">
		<div class="col-md-12 text-center">
			<a href="#" class="btn btn-primary btn-large">Become a Member Today!</a>
			<a href="#" class="btn">Or <strong>Log In</strong> to plan your next trip</a>
		</div>
	</div>
</div>

<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 id="logo-main">Palmarinha Holidays</h3>
				<ul>
					<li>Contact Information</li>
					<li>About Palmarinha Group</li>
					<li>Location Info</li>
					<li>Member Login</li>
					<li>Privacy Policy</li>
				</ul>
			</div>
		</div>
	</div>
</div>