<div class="row">
	<div class="row">
		<div class="col-md-4">
			<h3>More Benefits for</h3>
			<h2>More comfort.</h2>
			<p>Palmarinha Holidays brings you a selection of exclusive hotels and resorts, vacation packages and destinations, and themes that suit your holiday needs.</p>
			<p>Palmarinha offers different membership plans, allowing you to choose the the best options that suit your holiday vacation needs. Great value for money and more privileges like discounts on F&amp;B, Spa, and more!</p>
		</div>
		<div class="col-md-8">
			<div class="col-md-4"><img src</div>
			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>