<div class="container">
	<%= erb :navigation %>
</div>

<div id="member-controls">
	<div class="login-form">
		<form method="post" action="/login">
			<input type="password" name="pass" placeholder="Enter your password" />
			<button type="submit" class="btn btn-primary btn-blue">Log in</button>
		</form>
		
		<div class="clearfix"></div>
		<a id="trouble-logging" href="#">Having trouble logging in?</a>
	</div>
</div>

<div class="container" id="members-content">
	<div class="row" id="member-benefits">
		<div class="col-md-8 text-center col-md-offset-2">
			<p class="lead"><strong>Palmarinha Holidays</strong> brings you a selection of exclusive hotels and resorts, and destinations, and themes that suit your holiday needs.</p>
			<p>We offer membership plans, allowing you to choose the best options that suit your holiday needs. Great value for money with privileges and a whole lot of benefits.</p>
		</div>
		<div class="col-md-12 info-blocks text-center">
			<div class="row">
				<div class="col-md-4">
					<img src="/images/team.png" alt="" />
					<h5>Expert Team</h5>
					<p>Looking for family friendly options or romantic couple’s getaway, let the Palmarinha Holidays expert team organize every aspect of your holiday type and pattern.</p>
				</div>
				<div class="col-md-4">
					<img src="/images/resorts-worldwide.png" alt="" />
					<h5>5000 Resorts Worldwide</h5>
					<p>Enjoy the flexibility of the concept ­ use your week to exchange holiday time across any of the 5000 resorts worldwide</p>
				</div>
				<div class="col-md-4">
					<img src="/images/luxury-services.png" alt="" />
					<h5>Luxury Services</h5>
					<p>Take advantage of the high variety of services, including body bliss luxury spas and ayurvedic treatments, the wine club and relaxations for your children.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="member-packages">
		<div class="col-md-8" id="member-packages-content">
			<h3>Membership Packages <span>Customised to your needs</span></h2>
			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus. Quisque eget odio ac lectus vestibulum faucibus eget in metus.</p>
			<p>In pellentesque.</p>
			<hr />
			<div class="row" id="package-blocks">
				<div class="col-md-4">
					<p><strong>Unlimited holidays</strong> for 25 years by using your own week and bonus weeks.</p>
				</div>
				<div class="col-md-4">
					<p><strong>Easy and flexible</strong> payment plans. Flexibility to pay in monthly mode.</p>
				</div>
				<div class="col-md-4">
					<p><strong>Instant Activation</strong> of your membership on completion of 50% of your membership cost.</p>
				</div>
			</div>
			<hr />
		</div>
		<div class="col-md-4" id="inquiry-form">
			<h4>Become a member today!</h4>
			
			<form id="member-enroll" method="post" action="/request-membership">
				
				<div class="form-group">
					<label for="name" class="hidden"></label>
					<input type="text" name="member[name]" placeholder="your name" class="form-control">
				</div>
				<div class="form-group">
					<label for="phone" class="hidden"></label>
					<input type="text" name="member[phone]" placeholder="your contact number" class="form-control">
				</div>
				<div id="eaddgrp" class="form-group">
					<label for="eadd" class="hidden"></label>
					<div class="input-group">
						<input type="text" name="member[eadd]" id="eadd" placeholder="your email" class="form-control">
					</div>
					<span id="emailInfo" class="text-justified"></span>
				</div>
				<p class="text-right">
					<button type="submit" name="submit" value="Submit" id="send-btn">Send Inquiry <span class="glyphicon glyphicon-chevron-right"></span></button>
				</p>
			</form>
		</div>
	</div>
</div>