<%= erb :navigation %>


<div id="member-controls">
	<div class="login-form">
		<form method="post" action="/login">
			<input type="password" name="pass" placeholder="Enter your password" />
			<button type="submit" class="btn btn-primary btn-blue">Log in</button>
		</form>
		
		<div class="clearfix"></div>
		<a id="trouble-logging" href="/contact">Having trouble logging in?</a>
	</div>
</div>

<div class="container" id="members-content">
	<div class="row" id="member-benefits">
		<div class="col-md-8 text-center col-md-offset-2">
			<p class="lead"><strong>Palmarinha Holidays</strong> brings you a selection of exclusive hotels and resorts, and destinations, and themes that suit your holiday needs.</p>
			<p>We offer membership plans, allowing you to choose the best options that suit your holiday needs. Great value for money with privileges and a whole lot of benefits.</p>
		</div>
		<div class="col-md-12 info-blocks text-center">
			<div class="row">
				<div class="col-md-4">
					<img src="/images/perk-2.jpg" alt="" />
					<h5>Expert Team</h5>
					<p>Looking for family friendly options or romantic couple’s getaway, let the Palmarinha Holidays expert team organize every aspect of your holiday type and pattern.</p>
				</div>
				<div class="col-md-4">
					<img src="/images/resorts-worldwide.jpg" alt="" />
					<h5>5000 Resorts Worldwide</h5>
					<p>Enjoy the flexibility of the concept use your week to exchange holiday time across any of the 5000 resorts worldwide</p>
				</div>
				<div class="col-md-4">
					<img src="/images/luxury-services.png" alt="" />
					<h5>Luxury Services</h5>
					<p>Take advantage of the high variety of services, including body bliss luxury spas and ayurvedic treatments, the wine club and relaxations for your children.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="member-packages">
		<div class="col-md-8" id="member-packages-content">
			<h3>Membership Packages <span>Customised to your needs</span></h2>
			
			<div class="row" id="package-blocks">
				<div class="col-md-4">
					<p><strong>Flexibility of Holidays</strong> to choose freely right through the year.</p>
				</div>
				<div class="col-md-4">
					<p><strong>Customer Support</strong> 7 days a week to immediately address any inconvenience.</p>
				</div>
				<div class="col-md-4">
					<p><strong>Easy Payments</strong> done simply by a click of a button.</p>
				</div>
				<div class="col-md-4">
					<p><strong>Offers and discount</strong> to add more excitement to your already fun-filled package</p>
				</div>
				<div class="col-md-4">
					<p><strong>Personalised Access Cards</strong> to avail our customers with the best of services.</p>
				</div>
				<div class="col-md-4">
					<p><strong>Allianced and Affiliated</strong> to a wide range of partners popularly known arond the world.</p>
				</div>
			</div>
			
		</div>
		<div class="col-md-4" id="inquiry-form">
			<h4>Have your own dream holiday!</h4>
			<a href="/membership" class="btn btn-primary btn-link"  data-toggle="modal" data-target="#sign-up-modal">Become a Member Today!</a>
		</div>
	</div>
</div>

<%= erb :_sign_up_form %>
