<div class="container" id="navigation">
	<div class="row">
		<div class="col-md-12 text-right" id="member-area-title">
			<a href="#" class="btn">Log Out</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4" id="member-area-intro">
			<a id="logo-main" class="navbar-brand" href="#">Palmarinha Holidays</a>
			<div class="clearfix"></div>
			<!--<p class="lead">Palmarinha Holidays eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>-->
			<ul>
				<li><a href="#">Browse Resorts</a></li>
				<li><a href="#">Special Offers</a></li>
				<li><a href="#">Renew Account</a></li>
				<li><a href="#">Contact Support</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<img src="/images/special-ad.jpg" alt="" />
		</div>
	</div>
	<div class="row" id="dashboard-secondary">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<h3>Resorts <small>in package</small></h3>
				</div>
				<div class="col-md-12">
					<div class="row hotel-item">
						<div class="col-md-6">
							<img src="/images/resorts.jpg" alt="" />
						</div>
						<div class="col-md-6">
							<span class="hotel-title">Jukaso Bandhavgarh</span>
							<span class="label">Location</span> <span class="hotel-location">Madhya Pradesh</span>
							<div class="clearfix"></div>
							<p class="hotel-desc">Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.</p>
							<a class="btn">Book Vacation</a>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row hotel-item">
						<div class="col-md-6">
							<img src="/images/resorts.jpg" alt="" />
						</div>
						<div class="col-md-6">
							<span class="hotel-title">Jukaso Bandhavgarh</span>
							<span class="hotel-location">Madhya Pradesh</span>
							<p class="hotel-desc">Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.</p>
							<a class="btn">Book Vacation</a>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row hotel-item">
						<div class="col-md-6">
							<img src="/images/resorts.jpg" alt="" />
						</div>
						<div class="col-md-6">
							<span class="hotel-title">Jukaso Bandhavgarh</span>
							<span class="hotel-location">Madhya Pradesh</span>
							<p class="hotel-desc">Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.</p>
							<a class="btn">Book Vacation</a>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row hotel-item">
						<div class="col-md-6">
							<img src="/images/resorts.jpg" alt="" />
						</div>
						<div class="col-md-6">
							<span class="hotel-title">Jukaso Bandhavgarh</span>
							<span class="hotel-location">Madhya Pradesh</span>
							<p class="hotel-desc">Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.</p>
							<a class="btn">Book Vacation</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div id="resort-linkouts">
				<h4>Timeshare Exchanges</h4>
				<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.</p>
				<div class="resort-linkout">
					<img src="/images/rci-logo.png" alt="" />
					<a href="#" class="btn btn-large pull-right">Login »</a>
				</div>
				<hr />
				
				<div class="resort-linkout">
					<img src="/images/daelive.gif" alt="" />
					<a href="#" class="btn btn-large pull-right">Login »</a>
				</div>
				
			</div>
		</div>
	</div>
	
</div>