<div class="container" id="navigation">
	<div class="row">
		<div class="col-md-6">
			<a id="logo-main" class="navbar-brand" href="/">Palmarinha Holidays</a>
		</div>
		<div class="col-md-6 text-right" id="member-area-title">
			<span class="title">Members Area</span><a href="#" class="btn btn-primary">Log Out</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" id="member-area-intro">
		<div class="col-md-4">
			
			<div class="clearfix"></div>
			<p class="lead">Palmarinha Holidays eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
			<ul>
				<li><a href="#">Browse Hotels</a></li>
				<li><a href="#">Special Offers</a></li>
				<li><a href="#">Renew Account</a></li>
				<li><a href="#">Contact Support</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<img src="/images/special-ad.jpg" alt="" />
		</div>
	</div>
	<div class="row">
		
	</div>
</div>