<div class="container" id="navigation">
	<div class="row">
		<div class="col-md-12 text-right" id="member-area-title">
			<a href="#" class="btn">Log Out</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" id="member-area-intro">
		<div class="col-md-4">
			<a id="logo-main" class="navbar-brand" href="/">Palmarinha Holidays</a>
			<span class="title">Members Area</span>
			<div class="clearfix"></div>
			<!--<p class="lead">Palmarinha Holidays eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>-->
			<ul>
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Browse Hotels</a></li>
				<li><a href="#">Special Offers</a></li>
				<li><a href="#">Renew Account</a></li>
				<li><a href="#">Contact Support</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<img src="/images/special-ad.jpg" alt="" />
			<div class="row" id="dashboard-secondary">
				<div class="col-md-6">
					<img src="/images/resorts.jpg" alt="" />
				</div>
				<div class="col-md-6">
					<img src="/images/resorts.jpg" alt="" />
				</div>
			</div>
		</div>
		
	</div>
	
</div>