<div class="navbar navbar-default" role="navigation" id="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a id="logo-main" class="navbar-brand" href="/">Palmarinha Holidays</a>
			<!-- <h3 class="subtitle">Other India Bookstore</h3> -->
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/about">About</a></li>
				<li><a href="#">Resorts</a></li>
				<li><a href="#">Locations</a></li>
				<li><a href="/membership">Members Area</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
</div>