<div id="page-bg" class="cover anystretch row section" data-stretch="images/home-banner.png">
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Palmarinha Holidays</a>
			<!-- <h3 class="subtitle">Other India Bookstore</h3> -->
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">RESORTS</a></li>
				<li><a href="#">LOCATIONS</a></li>
				<li><a href="#">MEMBERSHIP</a></li>
				<li><a href="#">CONTACT</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2 banner">
		<div id="bsub" class="col-md-12">Your</div>
		<div id="btext" class="col-md-12">Dream Holiday</div>
		<div id="bsup" class="col-md-12">Awaits You</div>
	</div>
	<div class="col-md-4 col-md-offset-4 homebuttons">
		<div class="col-md-6"><button type="button" class="btn btn-primary">Learn More</button></div>
		<div class="col-md-6"><button type="button" class="btn btn-primary">Member Login</button></div>
	</div>
</div>