<div class="col-md-12 edit-intro">
	<h3 class="title">Add A New Book</h3>
</div>


<form role="form" action="/create" method="post" id="book" enctype="multipart/form-data">
	
	<div class="col-md-8">
		<div class="form-group">
				<label>Book Title:</label><br />
				<input type="text" name="book[title]" id="title" class="form-control" />	
		</div>
		<div class="form-group">
		  <label>
		  	<input type="radio" name="book[category_id]" id="category_id" value="1" checked>
				Category
		  </label>
		</div>
		<div class="form-group">
		  <label>
		  	<input type="radio" name="book[author_id]" id="author_id" value="1" checked>
				Author
		  </label>
		</div>
		<div class="form-group">
		  <label>
		  	<input type="radio" name="book[publisher_id]" id="publisher_id" value="1" checked>
				Other India Press
		  </label>
		</div>
		<div class="form-group">
			<label>Book Description:</label><br />
			<textarea type="text" name="book[description]" id="description" class="form-control" rows="5" ></textarea>
		</div>
		<div class="form-group">
			<label>Teaser Text</label><br />
			<input type="text" name="book[shortdesc]" id="shortdesc" class="form-control"/>
			<span class="teaser-description">10-15 words to describe the awesome book</span>
		</div>
		<div class="form-group">
			<label>Book Type</label><br />
			<input type="text" name="book[type]" id="type" class="form-control" />	
		</div>
		<div class="form-group">
			<label>Printed Pages</label><br />
			<input type="text" name="book[printed_pages]" id="printed_pages" class="form-control" />	
		</div>
		<div class="form-group">
			<label>Price (INR)</label><br />
			<input type="text" name="book[price_inr]" id="price_inr" class="form-control" />	
		</div>
		<div class="form-group">
			<label>Price (USD)</label><br />
			<input type="text" name="book[price_usd]" id="price_usd" class="form-control" />	
		</div>
		<div class="form-group">
			<label>Release Date mm / yyyy</label><br />
			<div class="row">
				<div class="col-md-4">
					<input type="text" name="book[release_month]" id="release_month" class="form-control" />
				</div>
				<div class="col-md-2">/</div>
				<div class="col-md-6">
					<input type="text" name="book[release_year]" id="release_year" class="form-control" />
				</div>
			</div>
		</div>
		<div class="form-group">		
			<input type="checkbox" name="book[is_featured]" value="true" checked /> 
			<strong>Featured</strong><br>
			<span class="featured-description">Highlight this book in category.</span>						
		</div>

		<div class="form-group">
				<input type="Submit" class="btn btn-primary btn-large submit-btn" value="Create New Book">
			</div>
	</div>

	<div class="col-md-4">
	
		<div class="file-input-wrap">
			<input type="file" name="cover_url" class="file-picker file-inputs new-feature-file" data-filename-placement="inside" title="+ Cover Image" />
		</div>
		<!-- <div class="file-input-wrap">
			<input type="file" name="thumbnail" class="file-picker file-inputs new-file" data-filename-placement="inside" title="+ Thumbnail" />
		</div> -->
		
		<!-- <div class="file-input-wrap">
			<input type="file" name="images[]" title="+ Gallery Images"  class="file-picker file-inputs new-file" data-filename-placement="inside"  multiple />
		</div> -->
		
	</div>		
</form>
