<div class="col-md-12 edit-intro">
	<h3 class="title">Create A New Category</h3>
</div>


<form role="form" action="/create-category" method="post" id="category" enctype="multipart/form-data">
	
	<div class="col-md-8">
		<div class="form-group">
				<label>Category Name:</label><br />
				<input type="text" name="category[name]" id="name" class="form-control" />	
		</div>
		
		<div class="form-group">
				<label>Category Desc:</label><br />
				<input type="text" name="category[description]" id="description" class="form-control" />	
		</div>
		
		<div class="form-group">
				<input type="Submit" class="btn btn-primary btn-large submit-btn" value="Add New Category">
			</div>
	</div>	
</form>
