

<!-- New Category -->
<div class="col-md-4">
	<h3 class="title">New Category</h3>

	<form role="form" action="/create-new/category" method="post" id="category" enctype="multipart/form-data">
		<div class="form-group">
			<label>Category Name:</label><br />
			<input type="text" name="category[name]" id="name" class="form-control" />	
		</div>
		
		<div class="form-group">
			<label>Category Desc:</label><br />
			<input type="text" name="category[description]" id="description" class="form-control" />	
		</div>
		
		<div class="form-group">
			<input type="Submit" class="btn btn-primary btn-large submit-btn" value="Add New Category">
		</div>
	</form>
</div>

<!-- New Author -->
<div class="col-md-4">
	<h3 class="title">New Author</h3>

	<form role="form" action="/create-new/author" method="post" id="author" enctype="multipart/form-data">

			<div class="form-group">
				<label>Author Name:</label><br />
				<input type="text" name="author[name]" id="name" class="form-control" />	
			</div>
			
			<div class="form-group">
				<label>Author Description:</label><br />
				<input type="text" name="author[description]" id="description" class="form-control" />	
			</div>
			
			<div class="form-group">
				<input type="Submit" class="btn btn-primary btn-large submit-btn" value="Add New Author">
			</div>
	</form>
</div>

<!-- New Publisher -->
<div class="col-md-4">
	<h3 class="title">New Publisher</h3>

	<form role="form" action="/create-new/publisher" method="post" id="publisher" enctype="multipart/form-data">
			<div class="form-group">
				<label>Publisher Name:</label><br />
				<input type="text" name="publisher[name]" id="name" class="form-control" />	
			</div>

			<div class="form-group">
				<input type="Submit" class="btn btn-primary btn-large submit-btn" value="Add New Publisher">
			</div>	
	</form>
</div>