@import "../../public/vendor/stylesheets/bootstrap";
$sans:  "Brandon Grotesque", sans-serif;
$serif: "FreightText", serif;

$vib: #00c8db;
$vibAlt: #ecb680;
body {
	font-family: $sans;
}

p {
	line-height: 140%;
}

p {

}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

#navigation {
	position: absolute;
	background: transparentize(white, 0.9);
	border: none;
	border-bottom: 1px solid transparentize(white, 0.8);
	border-radius: 0;
	left: 0;
	right: 0;
	.nav {
		margin-right: 30px;
		li {
			text-transform: uppercase;
			font-weight: 100;
			font-size: 18px;
			font-family: $sans;
			a {
				color: inherit;
				padding: 80px 45px 75px;
				-webkit-transition-duration: 400ms;
				&:hover {
					background: transparentize(white,0.9);
				}
			}
		}
	}
	.members-page & {
		background: transparentize(white, 0.5);
		li {
			color: $vib;
		}
	}
}

#logo-main {
	background: white url(../images/palmarinha-logo.png) no-repeat center center;
	width: 230px;
	height: 175px;
	text-indent: -9999px;
	margin-left: 70px;
}

#dream-holiday {
	background: url(../images/dream-holiday.png) no-repeat;
	width: 730px;
	height: 168px;
	text-indent: -9999px;
	margin: 0 auto 40px;
}

.cover-controls {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	.btn {
		margin: 0 10px;
	}
}

.btn-primary {
	border-radius: 0;
}

.btn-white {
	background: white;
	background: transparentize(white, 0.2);
	color: $vib;
	font-weight: bold;
	border: 1px solid white;
	padding: 0;
	text-transform: uppercase;
	.glyphicon {
		background: white;
		display: block;
		float: right;
		padding: 10px 10px;
	}
	.btn-text {
		padding: 8px 15px;
		display: block;
		float: left;
	}
	&:hover {
		background: white;
		border: 1px solid white;
		color: $vib;
	}
}

.btn-blue {
	background: transparentize($vib, 0.2);
	border: 1px solid $vib;
}

.btn-link {
	padding: 0;
	background: none;
	margin-right: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

#introducing-palmarinha {
	position: relative;
	h2 {
		position: absolute;
		top: 150px;
		left: 0;
		right: 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 80px;
		font-weight: 100;
		color: white;
	}
	img {
		width: 100%;
	}
}

#introducing-palmarinha-text {
	background: transparentize(white,0.2);
	z-index: 10;
	position: relative;
	overflow: auto;
	margin: -100px 30px 50px;
	padding: 50px 25px;
	p {
		font-size: 18px;
		font-weight: 100;
		margin-top: 0;
	}
	h4 {
		text-transform: uppercase;
		font-weight: bold;
		color: $vib;
		margin-bottom: 15px;
		margin-top: 0;
	}
	#introducing-bullets {
		border-left: 1px solid $vibAlt;
		padding-left: 25px;
		ul {
			padding-left: 0;
			li {
				list-style: none;
				margin-bottom: 10px;
			}
		}
	}
}

#introducing-intro {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 22px;
	font-weight: 300;
	color: darken($vib, 5%);
}

#how-it-works {
	background: $vib;
	color: white;
	height: 488px;
	padding: 15px 25px;
	h3 {
		font-weight: bold;
		font-size: 36px;
		margin-bottom: 25px;
	}
	.btn-link {
		color: white;
	}
}

.row img {
	max-width: 100%;
}

#locations-block {
	margin-top: 50px;
	h3 {
		font-weight: 100;
		color: $vib;
		text-transform: uppercase;
		font-size: 48px;
		line-height: 140%;
		margin-bottom: 25px;
		small {
			display: block;
			color: $vib;
			font-weight: bold;
		}
	}
}

#partnerships-block {
	margin-top: 35px;
}

#loc-img {
	width: 100%;
	background: url(../images/locations.png) no-repeat;
	background-size: cover;
	height: 400px;
}

#loc-intro {
	margin-top: -80px;
	background: white;
	background: transparentize(white, 0.1);
	font-size: 18px;
	font-weight: 100;
	padding: 25px 30px;
}

#loc-sec-2 {
	margin-bottom: 25px;
	margin-top: 0px;
	h3 {
		color: #eb7474;
		text-transform: uppercase;
		font-weight: 100;
		font-size: 32px;
	}
	p {
		font-size: 18px;
		font-weight: 100;
	}
}

#loc-blocks {
	padding-left: 0;
	li {
		float: left;
		list-style: none;
		width: 280px;
		margin-right: 10px;
		position: relative;
		img {
			width: 100%;
			height: 100%;
		}
		.loc-label {
			position: absolute;
			bottom: 20px;
			text-align: center;
			left: 0;
			right: 0;
		}
		span {
			display: inline-block;
			background: white;
			background: transparentize(white, 0.1);
			padding: 10px 15px;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			color: $vib;
		}
	}
}

.viewport {
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

#hotel-blocks {
	margin-top: 50px;
	h3 {
		color: $vib;
		font-size: 32px;
		text-transform: uppercase;
		font-weight: 100;
		small {
			font-weight: bold;
		}
	}
}

.hotel-block {
	position: relative;
	.inner {
		position: absolute;
		width: 320px;
		left: 35px;
		top: 20px;
	}
	.linkout {
		font-size: 14px;
		font-weight: bold;
		color: inherit;
		text-transform: uppercase;
	}
}


.hotel-block.large {
	.inner {
		left: 50px;
		top: 35px;
		width: 450px;
		background: white;
		padding: 25px;
		img {
			margin-bottom: 20px;
		}
		p {
			font-size: 18px;
		}
		
	}
}

.hotel-block.small {
	margin-bottom: 18px;
	.inner {
		color: white;
		h4 {
			text-transform: uppercase;
		}
	}
}

#member-controls {
	bottom: 50px;
	.login-form {
		margin: 0 auto;
		width: 600px;
		text-align: left;
	}
	input {
		width: 400px;
		font-size: 24px;
		font-weight: 100;
		background: transparentize(white, 0.1);
		border: 1px solid white;
		padding: 15px 25px;
		outline: none;
		float: left;
	}
	.btn-blue {
		font-weight: bold;
		font-size: 24px;
		text-transform: uppercase;
		padding: 15px 45px;
		float: left;
	}
	.btn-white {
		position: absolute;
	}
	#trouble-logging {
		color: white;
		font-size: 18px;
		text-shadow: 0px 1px #000;
	}
}

#learn-more-btn {
	bottom: 20px;
	left: 45%;
	position: absolute;
}

#members-content {
	margin-top: 50px;
	margin-bottom: 50px;
}

#member-benefits {
	h3 {
		color: $vib;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		span {
			display: block;
			font-size: 28px;
			margin-top: 5px;
		}
	}
}

#inquiry-form {
	position: relative;
	background: url(../images/inquiry-bg.png);
	padding: 25px;
	height: 400px;
	h4 {
		color: white;
		font-weight: bold;
		text-transform: uppercase;
	}
	form {
		position: absolute;
		bottom: 20px;
	}
	input {
		background: transparent;
		border: 1px solid transparentize(white, 0.5);
		border-radius: 0;
		color: white;		
		width: 280px;
		font-family: $serif;
		font-style: italic;
		font-size: 16px;
		padding: 20px 15px 15px;
	}
	#send-btn {
		background: none;
		font-weight: bold;
		color: white;
		border: none;
		font-size: 18px;
		text-transform: uppercase;
		.glyphicon {
			font-size: 14px;
		}
	}
}
